
<form [formGroup]="checkboxForm">

  <h3>
    <label for="allItems">
      Selecionar Todos
    </label>
    <input
      id="allItems"
      name="allItems"
      formControlName="allItems"
      type="checkbox"
      (change)="checkAll()"
    />
  </h3>

  <div *ngFor="let item of items; let i = index">
      <label for="i">
        {{item.dsc}}
      </label>
      <input 
        [id]="i"
        name="item"
        formControlName="item"
        type="checkbox"
        (change)="onChange(item, $event.target.checked)"
      />
  </div>

  <br />

  <button (click)="onSubmit()">Enviar</button>
  &nbsp;
  <button (click)="clear()">Limpar</button>

</form>

<br />

<div *ngIf="selectedItems.length > 0">

  <h3>Quantidade de Items: {{selectedItems.length}}</h3>

  <ul>
    <li *ngFor="let selectItem of selectedItems;">
      {{selectItem.dsc}}
    </li>
  </ul>

</div>

  

